<h1>Show others what your boat can do. Add new jobs today!</h1>

<div class="inline">
	<%= form_for Job.new do |f|%>

	<%=f.label :user_id %>
	<%=f.text_field :user_id %>

	<%=f.label :boat_id %>
	<%=f.text_field :boat_id %>

	<%=f.label :name %>
	<%=f.text_field :name %>

	<%=f.label :cost %>
	<%=f.number_field :cost %>
	
	<%=f.label :origin %>
	<%=f.text_field :origin %>

	<%=f.label :destination %>
	<%=f.text_field :destination %>
	<%=f.label :description %>
	<%=f.text_area :description %>

	<%=f.submit "Enter" %>

</div>
<% end %>

<button id="logout"><%= link_to "Logout", logout_path %></button>