<h1>Welcome, <%= @user.username %></h1>

<h2>List your boats today!</h2>
<% @boats.each do |boat| %>
<ul>
	<li><%= boat.name %></li>
	<li><%= boat.max_container %></li>
	<li><%= boat.location %></li>
</ul>
<% end %>

<%= image_tag @user.avatar.url %>

<button id="ship"><%= link_to "View your Boats", boat_path %></button>

<button id="ship1"><%= link_to "Add new Boats", new_boat_path %></button>

<button id="logout"><%= link_to "Logout", logout_path %></button>
